/* Setup */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Common feature  */
.primary-color{
    color: #4E47FF;
}

.description-color{
    color:rgba(37, 36, 50, 0.5)
}

.container-bg{
    background-color: rgba(78, 71, 255, 0.1)
}

.mall-desc-colors{
    color: rgba(0, 0, 0, 0.5);
}

/* Whole website */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F5F8FF;
}


/*              Hero Wrapper               */
.hero-wrapper{
    background-image: url("/images/Hero-bg.png");
}
/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    align-items: center;

}

.logo{
    font-size: 34px;
    font-weight: 800;
}

.btn-primary{
    background-color: #4E47FF;
    color: white;
    font-size: 16;
    font-weight: bold;
    padding: 12px 36px;
    border-radius: 10px;
    border-style: none;
}

/* Banner */
.banner{
    padding:158px 268px;

    
}

.banner-content{
    text-align: center;
    
}

.banner-title{
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    padding-bottom: 37px;
}



/*               Action Section             */

.action-section{
    padding: 150px 116px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .action-text{
    
} */

.description{
    font-size: 24px;
    padding: 23px 0;
    text-align: left;
    max-width: 500px;
}

.action-title{
    font-weight: bold;
    font-size: 42px;
}

.action-image img{
    border-radius: 48px;
}


/*      Productive Users Section         */

.productive-user-section{
    /* text-align: center; */
}

.productive-content{
    text-align: center;
}

.blue-container{
    margin: 116px 150px 137px 150px;
    border-radius: 24px;
    padding: 50px 142px;
}

.info-container{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.productive-user-section .info .number{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}




/*        Get in touch section       */
.get-in-touch-section{

    margin: 92px 150px 79px 150px;
    
}

.get-in-touch-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.big-title{
    font-size: 97px;
    font-weight: bold;
    max-width: 600px;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 500px;
    gap: 19px;
}

.inputfield{
    margin-top: 10px;
    padding: 20px 32px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 1px solid #D6DDED;
    width: 100%;
    box-sizing: border-box;
    /* margin-top: 10px;
    margin-bottom: 20px; */
}

.touch-button{
    margin-top: 20px;
    display: flex;
    padding: 19px 0 19px 0;
    justify-content: center;
}



   /* FOOTER  */
footer{
    background-color: white ;
}
.credit{
    width: fit-content;
    padding: 104px 0;
    margin: 0 auto;
    text-align: center;
}

.credit-logo{

    font-size: 100px;
    font-weight: 900;
}

.credit .description{
    color: #8987A1;
    font-size: 16px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 20px;
}

.link{
    
}

.link ul{
    display: flex;
    justify-content: space-around;
}

.link ul li {
    list-style: none;
}

.link ul li a {
    text-decoration:  none;
    color: #8987A1;
    font-size: 16px;
}


/* user review section  */

.user-review-section {
    
}

.user-title{
    text-align: center;
}

.card-container{
    margin-top: 50px;
    display: flex;
    padding: 0 150px;
    gap: 20px;
}
.card{
    padding: 24px;
    border-radius: 14px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 14px;
    border: 1px solid #F2EDED;
}
.icon-row img{
    background-repeat: 5;
}

.card-title{

    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}

.card-desc{
    font-size: 16px;
    color: #8987A1;
}
.user{
    display: flex;
}

.user img{
    border-radius: 50%;
    margin-right: 12px;
}

.user .username{
    font-size: 16px;
    font-weight: 600;
    color: #8987A1;
}

.user .date{
    font-size: 16px;
    color: #B3B3B3;
}

.card .icon-row{
    display: flex;
    gap: 4px;
}

.big-card{
    padding: 115px 150px;
    
}

.big-card-content{
    text-align: center;
    padding: 71px 150px;
    background-color: white;
    border-radius: 14px;
}

.bc-title{
    
    font-size: 50px;
    font-weight: bold;
}

.big-card-content img{
    border-radius: 48px;
    margin-top: 20px;
}

.big-card-content p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.big-card-content button{
    font-weight: 500;
    font-size: 16px;
}