/* Setup */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Common feature  */
.primary-color{
    color: #4E47FF;
}

.description-color{
    color:rgba(37, 36, 50, 0.5)
}

.container-bg{
    background-color: rgba(78, 71, 255, 0.1)
}

.small-desc-color{
    color: rgba(0, 0, 0, 0.5);
}

/* Whole website */
*{
    margin: 0;
    padding: 0;
}

body{
    
}


/*              Hero Wrapper               */
.hero-wrapper{
    background-image: url("/images/Hero-bg.png");
}
/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    align-items: center;

}

.logo{
    font-size: 34px;
    font-weight: 800;
}

.btn-primary{
    background-color: #4E47FF;
    color: white;
    font-size: 16;
    font-weight: bold;
    padding: 12px 36px;
    border-radius: 10px;
    border-style: none;
}

/* Banner */
.banner{
    padding:158px 268px;

    
}

.banner-content{
    text-align: center;
    
}

.banner-title{
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    padding-bottom: 37px;
}



/*               Action Section             */

.action-section{
    padding: 150px 116px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .action-text{
    
} */

.description{
    font-size: 24px;
    padding: 23px 0;
    text-align: left;
    max-width: 500px;
}

.action-title{
    font-weight: bold;
    font-size: 42px;
}

.action-image img{
    border-radius: 48px;
}


/*      Productive Users Section         */

.productive-user-section{
    /* text-align: center; */
}

.productive-content{
    text-align: center;
}

.blue-container{
    margin: 116px 150px 137px 150px;
    border-radius: 24px;
    padding: 50px 142px;
}

.info-container{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.productive-user-section .info .number{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

